<div class="main-content">
    <div class="row">
        <div class="col-md-11">
            <div style="padding-left: 20px; padding-right: 20px;">
                <div class="misma-linea" style="margin-bottom: 15px;">
                    <div>
                        <div class="misma-linea">
                            <label style="line-height: 2.7; margin-right: 10px;">Periodo:</label>
                            <mat-form-field appearance="outline" style="width: 80px;" color="warn">
                                <mat-select>
                                    <mat-option value="one">2020</mat-option>
                                    <mat-option value="two">2021</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="margin-left: 65px;">
                        <div class="misma-linea">
                            <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                                <mat-select value="0">
                                    <mat-option value="0">Filtrar por</mat-option>
                                    <mat-option value="1">Nº Solicitud</mat-option>
                                    <mat-option value="2">Nº Placa</mat-option>
                                    <mat-option value="3">Marca</mat-option>
                                    <mat-option value="4">Modelo</mat-option>
                                    <mat-option value="5">Propietario</mat-option>
                                    <mat-option value="6">Tipo de chatarreo</mat-option>
                                    <mat-option value="7">Estado</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="margin-left: 15px;">
                                <input type="text" matInput>
                            </mat-form-field>
                            <button style="display: none;" class="btn-block" mat-raised-button color="basic">Buscar</button>
                            <button style="margin-left: 25px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="warn">Buscar</button>
                            <button style="margin-left: 10px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="basic">Limpiar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <button mat-mini-fab color="warn" style="margin-top: -5px;">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card" style="min-height: 750px;">
            <div class="content table-responsive" style="width: 90%; margin: auto; margin-bottom: -10px;">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nº Solicitud</th>
                            <th>Nº Placa</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Propietario</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr style="color: red;">
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>OBS</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>