<div class="main-content">

    <form autocomplete="off" [formGroup]="form_etapa" (ngSubmit)="guardar_etapa()">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">

                    <!-- Datos de la solicitud -->
                    <div class="card">
                        <fieldset>
                            <legend>
                                Datos de la solicitud
                            </legend>
                            <div class="container-fielset">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Nº Solicitud:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <input formControlName="nro_solicitud" name="nro_solicitud" type="text" matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Fecha solicitud:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <input formControlName="fecha_solicitud" name="fecha_solicitud" type="date" matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Tipo&nbsp;chatarreo:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <mat-select formControlName="pgm_chatarreo" name="pgm_chatarreo">
                                                        <mat-option value="">(Seleccionar)</mat-option>
                                                        <mat-option value="O">Obligatorio</mat-option>
                                                        <mat-option value="V">Voluntario</mat-option>
                                                        <mat-option value="p">PCH</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="pgm_chatarreo" class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Pgm chatarreo:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <input [value]="pgm_chatarreo" type="text" matInput disabled>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- <div class="card">
                        <fieldset>
                            <legend>
                                Datos de la solicitud
                            </legend>
                            <div class="container-fielset">
                                <div class="misma-linea">
                                    <div>
                                        <div class="misma-linea">
                                            <label>Nº Solicitud:</label>
                                            <mat-form-field appearance="outline" style="width: 311px;">
                                                <input formControlName="nro_solicitud" name="nro_solicitud" type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label>Fecha Solicitud:</label>
                                            <mat-form-field appearance="outline" style="width: 151px;">
                                                <input formControlName="fecha_solicitud" name="fecha_solicitud" type="date" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="misma-linea">
                                        <label>Pgm. Chatarreo:</label>
                                        <mat-form-field appearance="outline" style="width: 600px;">
                                            <mat-select formControlName="pgm_chatarreo" name="pgm_chatarreo">
                                                <mat-option value="">(Seleccionar)</mat-option>
                                                <mat-option value="O">Obligatorio</mat-option>
                                                <mat-option value="V">Voluntario</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="misma-linea ocultar">
                                    <div>
                                        <div class="misma-linea">
                                            <label>Ent.&nbsp;Promotora:</label>
                                            <mat-form-field appearance="outline" class="imput-medium">
                                                <input type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <mat-form-field appearance="outline" style="width: 201px;">
                                                <input type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->

                    <div class="alert alert-danger" role="alert">
                        La presente etapa de compactación de las partes del vehículo se realiza de conformidad con lo dispuesto en el Decreto Legislativo N° 1278 y su Reglamento aprobado por Decreto Supremo N° 014-2017-MINAM.
                    </div>

                    <!-- Verificación Física -->
                    <div class="card">
                        <fieldset>
                            <legend>
                                Compactación de partes del vehículo
                            </legend>
                            <div class="container-fielset">
                                <div class="misma-linea" style="margin-top: 10px;">
                                    <div>
                                        <div class="misma-linea">
                                            <label class="label-sm">Fecha&nbsp;Inicio:</label>
                                            <mat-form-field appearance="outline" style="width: 151px; margin-left: 8px;">
                                                <input formControlName="fecha_inicio" name="fecha_inicio" type="date" matInput (change)="obtener_fecha_minima()" [max]="fecha_maxima">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label class="label-sm">Hora&nbsp;Inicio:</label>
                                            <mat-form-field appearance="outline" class="input-small">
                                                <input formControlName="hora_inicio" name="hora_inicio" type="time" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="fecha_fin" class="misma-linea">
                                    <div>
                                        <div class="misma-linea">
                                            <label class="label-sm">Fecha&nbsp;Fin:</label>
                                            <mat-form-field appearance="outline" style="width: 151px; margin-left: 8px;">
                                                <input [(ngModel)]="fecha_fin" formControlName="fecha_fin" name="fecha_fin" type="date" matInput [max]="fecha_maxima" [min]="fecha_minima" (change)="obtener_hora_minima()">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label class="label-sm">Hora&nbsp;Fin:</label>
                                            <mat-form-field appearance="outline" class="input-small">
                                                <input formControlName="hora_fin" name="hora_fin" type="time" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px;" class="row">
                                    <div class="col-md-12" *ngFor="let check of checklist">
                                        <mat-checkbox (change)="obtener_check(check)" color="warn" class="example-margin"> {{ check.Descripcion }} </mat-checkbox>
                                    </div>
                                    <div>
                                        <div class="col-md-12" style="margin-top: 10px;">
                                            <span>Peso de chatarra: :</span>&nbsp;&nbsp;
                                            <mat-form-field appearance="outline" class="input-small">
                                                <input formControlName="peso_chatarra" name="peso_chatarra" type="number" matInput min="1">
                                            </mat-form-field>
                                            &nbsp;Kg.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                    <!-- Observación e Imágenes-->
                    <div class="card">
                        <mat-tab-group color="warn">
                            <mat-tab label="Obervaciones">
                                <div style="height: 175px; padding-left: 20px; padding-top: 10px; padding-right: 20px;">
                                    <div style="padding-left: 5px; margin-bottom: 5px; margin-top: 5px;">
                                        <span>Escriba comentarios que considere necesarios en esta etapa:</span>
                                    </div>
                                    <mat-form-field appearance="outline" class="w100p">
                                        <textarea id="obs_desc" rows="7" matInput formControlName="descripcion_obs" name="descripcion_obs" [value]="descripcion_obs"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-tab>
                            <mat-tab label="Galería de imágenes">
                                <div class="gallerize-example">
                                    <div class="misma-linea" style="margin-bottom: 8px;" *ngIf="mostrar_boton_add_img">
                                        <h4>Agregar imagen</h4>
                                        <button type="button" mat-icon-button style="margin-left: 10px; margin-top: 25px;">
                                            <mat-icon (click)="adjuntar_imagen()" style="font-size: 23px;" color="warn">add_circle</mat-icon>
                                        </button>
                                    </div>
                                    <br *ngIf="!mostrar_boton_add_img" />
                                    <div style="height: 97px; overflow: auto;display: flex; flex-wrap: wrap;">
                                        <span style="width: 100px;margin-left: 5px;position: relative;" *ngFor="let item of items; index as i">
                                            <img style="width: 100%;height: 90px;object-fit: cover;" [lightbox]="i" [gallery]="'anotherLightbox'" [src]="item.data.thumb">
                                            <a href="javascript:void(0)" style="position: absolute; top:0; right: 0;"><img style="width: 20px;" (click)="quitarImagen(i)" src="assets/img/icons-form/delete.svg"></a>
                                        </span>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Tablas -->
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-vehiculo" colspan="2" scope="col">
                                        Datos del vehículo
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Placa</th>
                                    <td> {{ proceso_obtenido.VehiculoPlaca }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Chasis</th>
                                    <td> {{ proceso_obtenido.VehiculoNroChasis }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Motor</th>
                                    <td> {{ proceso_obtenido.VehiculoNroMotor }} </td>
                                </tr>
                                <tr>
                                    <th>VIN</th>
                                    <td> {{ proceso_obtenido.VehiculoVIN }} </td>
                                </tr>
                                <tr>
                                    <th>Categoría</th>
                                    <td> {{ proceso_obtenido.VehiculoCategoria }} </td>
                                </tr>
                                <tr>
                                    <th>Marca</th>
                                    <td> {{ proceso_obtenido.VehiculoMarca }} </td>
                                </tr>
                                <tr>
                                    <th>Modelo</th>
                                    <td colspan="3"> {{ proceso_obtenido.VehiculoModelo }} </td>
                                </tr>
                                <tr>
                                    <th>Año</th>
                                    <td> {{ proceso_obtenido.VehiculoAnoFabricacion }} </td>
                                </tr>
                                <tr>
                                    <th>Combustible</th>
                                    <td> {{ proceso_obtenido.VehiculoCombustible }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-propietario" colspan="2" scope="col">
                                        Propietario
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width: 35%;">Tipo de Documento</th>
                                    <td> {{ obtener_tipo_di(proceso_obtenido.PropietarioTipoDI) }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Documento</th>
                                    <td> {{ proceso_obtenido.PropietarioNumeroDI }} </td>
                                </tr>
                                <tr>
                                    <th>Nombres</th>
                                    <td> {{ proceso_obtenido.PropietarioNombre }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-representante" colspan="2" scope="col">
                                        Representante
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width: 35%;">Tipo de Documento</th>
                                    <td> {{ obtener_tipo_di(proceso_obtenido.SolicitanteTipoDI) }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Documento</th>
                                    <td> {{ proceso_obtenido.PropietarioNumeroDI }} </td>
                                </tr>
                                <tr>
                                    <th>Nombres</th>
                                    <td> {{ proceso_obtenido.SolicitanteNombre }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-top: 45px;">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" (click)="volverEtapa()" class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn-block" mat-raised-button color="warn">Guardar</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </form>
</div>