<h3 mat-dialog-title>Búsqueda</h3>
<div mat-dialog-content class="text-center">



    <div>
        <div class="misma-linea">
            <label style="width: 120px; line-height: 2.5; text-align: left;">Nº&nbsp;Solicitud:</label>
            <mat-form-field appearance="outline">
                <input type="text" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Nº&nbsp;Placa:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="ml-50">
            <div class="misma-linea">
                <label style="width: 100px; line-height: 2.5; text-align: left;">Marca:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Modelo:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="ml-50">
            <div class="misma-linea">
                <label style="width: 100px; line-height: 2.5; text-align: left;">Propietario:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="misma-linea">

        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Tipo&nbsp;Chatarreo:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="ml-50">
            <div class="misma-linea">
                <label style="width: 100px; line-height: 2.5; text-align: left;">Estado:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px; padding-top: 10px;">
            <button style="width: 200px; margin-right: 10px;" mat-stroked-button color="warn">Cancelar</button>
            <button style="width: 200px;" mat-raised-button color="warn">Buscar</button>
        </div>
    </div>








</div>