<h3 mat-dialog-title>Mantenimiento chatarreo obligatorio</h3>
<div mat-dialog-content>
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Correlativo:</label>
                <h5 style="color: red; margin-top: 9px;">{{ pco.Correlativo}}</h5>
            </div>
        </div>
        <div class="misma-linea">
            <div>
                <div class="misma-linea">
                    <label style="width: 120px; line-height: 2.5; text-align: left;">Fecha&nbsp;Inicio:</label>
                    <mat-form-field appearance="outline">
                        <input type="date" matInput formControlName="fechaInicio" [readonly]="pco.Estado === 'V'" [class.is-invalid]="fechaInicioNoValido">
                    </mat-form-field>
                </div>
                <small *ngIf="fechaInicioNoValido" class="text-danger">
                    Seleccione una fecha de inicio
                </small>
            </div>
            <div class="ml-50">
                <div class="misma-linea">
                    <label style="width: 100px; line-height: 2.5; text-align: left;">Fecha&nbsp;Fin:</label>
                    <mat-form-field appearance="outline">
                        <input type="date" matInput formControlName="fechaFin" [readonly]="pco.Estado === 'V'" [class.is-invalid]="fechaFinNoValido">
                    </mat-form-field><br/>
                </div>
                <small *ngIf="fechaFinNoValido" class="text-danger">
                    {{ msjFechaFinInvalida }}
                </small>
            </div>
        </div>
        <div class="misma-linea">
            <div>
                <div class="misma-linea">
                    <label style="width: 120px; line-height: 2.5; text-align: left;">Cantidad:</label>
                    <mat-form-field appearance="outline">
                        <input type="number" matInput formControlName="cantidad" [maxlength]="4" [readonly]="pco.Estado === 'V'" [class.is-invalid]="cantidadNoValido">
                    </mat-form-field>
                </div>
                <small *ngIf="cantidadNoValido" class="text-danger">
                    {{ msjCantidadInvalido }}
                </small>
            </div>
        </div>
        <div class="misma-linea" style="margin-top: 25px;">
            <div>
                <div class="misma-linea">
                    <label style="width: 120px; line-height: 2.5; text-align: left;">Expediente:</label>
                    <mat-form-field appearance="outline">
                        <input type="text" readonly matInput formControlName="nombreExpediente" [(ngModel)]="pco.NombreExpediente" [class.is-invalid]="nombreExpedienteNoValido">
                    </mat-form-field>
                    <button *ngIf="pco.Estado === 'V'" type="button" mat-icon-button matTooltip="Descargar archivo">
                        <mat-icon (click)="descargar_adjunto('E')" style="font-size: 23px;" color="warn">get_app</mat-icon>
                    </button>
                    <button *ngIf="pco.Estado === 'N' && !pco.NombreExpediente" type="button" mat-icon-button>
                        <mat-icon (click)="adjuntar_archivo('E')" style="font-size: 23px;" color="warn">add_circle</mat-icon>
                    </button>
                    <button *ngIf="pco.Estado === 'N' && pco.NombreExpediente" type="button" mat-icon-button>
                        <mat-icon (click)="quitar_archivo('E')" style="font-size: 23px;" color="warn">highlight_off</mat-icon>
                    </button>
                </div>
                <small *ngIf="nombreExpedienteNoValido" class="text-danger">
                    El expediente es obligatoria y solo en formato PDF
                </small>
            </div>
        </div>
        <div class="misma-linea">
            <div>
                <div class="misma-linea">
                    <label style="width: 120px; line-height: 2.5; text-align: left;">Doc.&nbsp;Sustento:</label>
                    <mat-form-field appearance="outline">
                        <input type="text" readonly matInput formControlName="nombreSustento" [(ngModel)]="pco.NombreSustento" [class.is-invalid]="nombreSustentoNoValido">
                    </mat-form-field>
                    <button *ngIf="pco.Estado === 'V'" type="button" mat-icon-button matTooltip="Descargar archivo">
                        <mat-icon (click)="descargar_adjunto('S')" style="font-size: 23px;" color="warn">get_app</mat-icon>
                    </button>
                    <button *ngIf="pco.Estado === 'N' && !pco.NombreSustento" type="button" mat-icon-button>
                        <mat-icon (click)="adjuntar_archivo('S')" style="font-size: 23px;" color="warn">add_circle</mat-icon>
                    </button>
                    <button *ngIf="pco.Estado === 'N' && pco.NombreSustento" type="button" mat-icon-button>
                        <mat-icon (click)="quitar_archivo('S')" style="font-size: 23px;" color="warn">highlight_off</mat-icon>
                    </button>
                </div>
                <small *ngIf="nombreSustentoNoValido" class="text-danger">
                    El sustento es obligatoria y solo en formato PDF
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"></div>
            <div class="misma-linea" style="padding-right: 15px; padding-top: 20px;">
                <button type="button" (click)="cerrar_modal(false)" style="width: 200px; margin-right: 10px;" mat-stroked-button color="warn">Cancelar</button>
                <button type="submit" style="width: 200px;" *ngIf="pco.Estado == 'N'" mat-raised-button color="warn">Guardar</button>
            </div>
        </div>
    </form>
    <input #btncerrarmodal mat-dialog-close class="ocultar" type="button">
</div>