<h3 mat-dialog-title>Mantenimiento chatarreo obligatorio</h3>
<div mat-dialog-content class="text-center">
    <div>
        <div class="misma-linea">
            <label style="width: 120px; line-height: 2.5; text-align: left;">Número&nbsp;de&nbsp;PCH:</label>
            <h5 style="color: red; margin-top: 9px;">001-PCO-2021/ATU</h5>
        </div>
    </div>

    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 171px; line-height: 2.5; text-align: left;">Fecha&nbsp;PCO:</label>
                <mat-form-field appearance="outline">
                    <input type="date" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="misma-linea">

        <div>
            <div class="misma-linea">
                <label style="width: auto; line-height: 2.5; text-align: left; margin-right: 10px;">R.&nbsp;declaratoria&nbsp;abandono:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px; padding-top: 20px;">
            <button style="width: 200px; margin-right: 10px;" mat-stroked-button color="warn">Cancelar</button>
            <button style="width: 200px;" mat-raised-button color="warn">Guardar</button>
        </div>
    </div>








</div>