<h3 mat-dialog-title>Confirmación de Aprobación</h3>
<div mat-dialog-content class="text-center">
    <label>¿Desea aprobar el N° {{ codigo }} de la entidad?</label>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px; padding-top: 10px;">
            <input type="button" #btncerrarAprobar mat-dialog-close class="ocultar">
            <button type="button" style="width: 200px;" mat-stroked-button color="warn" (click)="cerrar_modal(false)">Cancelar</button>
            <div style="width: 15px;"></div>
            <button type="button" style="width: 200px;" mat-raised-button color="warn" (click)="aprobar()">Aprobar</button>
        </div>
    </div>