<div class="main-content">
    <div class="row">
        <div class="col-md-11">
            <form autocomplete="off" [formGroup]="form_busqueda" (ngSubmit)="obtenerUsuarios()" style="padding-left: 20px; padding-right: 20px;">
                <div class="misma-linea" style="margin-bottom: 15px;">
                    <div>
                        <div class="misma-linea">
                            <label style="line-height: 2.7; margin-right: 10px;">Estado:</label>
                            <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                                <mat-select formControlName="estado" name="estado">
                                    <mat-option [value]="edo.codigo" *ngFor="let edo of estados">{{ edo.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div class="misma-linea">
                            <label style="line-height: 2.7; margin-right: 10px;">Tipo:</label>
                            <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                                <mat-select formControlName="tipo" name="tipo">
                                    <mat-option [value]="tip.codigo" *ngFor="let tip of tipos">{{ tip.descripcion }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button type="submit" style="margin-left: 25px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="warn">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="container-fluid">
        <!-- test -->
        <div class="card" style="min-height: 750px;">
            <div *ngIf="usuarios && !(usuarios.length > 0)" style="width: 400px; margin: auto; text-align: center; padding-top: 130px;">
                <img width="300px" src="/assets/img/icons-form/no-data.svg">
                <h3 style="margin-top: -20px;">No se encontraron resultados</h3>
            </div>
            <div *ngIf="usuarios && usuarios.length > 0" class="content table-responsive" style="width: 90%; margin: auto; margin-bottom: -10px;">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Correo</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usu of usuarios">
                            <td>{{ usu.Codigo }}</td>
                            <td>{{ usu.Correo }}</td>
                            <td>{{ usu.NombreCompleto }}</td>
                            <td>{{ usu.Estado | estadousu }}</td>
                            <td>
                                <button type="button" (click)="editar(usu)" type="button" mat-mini-fab color="warn">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button type="button" *ngIf="usu.Estado === 'A'" (click)="eliminar(usu)" mat-mini-fab color="primary" style="margin-left: 5px;">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>