<div class="main-login">
    <div class="card card-user">
        <div class="image">
            <img src="assets/img/back_login.svg" alt="..." />
            <div class="back-red"></div>
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="assets/img/faces/face-0.svg" alt="..." />

                    <h3 class="title">Iniciar Sesión</h3>
                </a>
            </div>
            <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="ingresar()" class="mt-30 form-login">
                <label style="margin-bottom: -10px;">Usuario:</label>
                <mat-form-field appearance="outline" class="w100p">
                    <input matInput formControlName="nom_usuario" name="nom_usuario">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <label style="margin-bottom: -10px;">Contraseña:</label>
                <mat-form-field appearance="outline" class="w100p">
                    <input matInput [type]="hide ? 'password': 'text'" formControlName="contrasena_usuario" name="contrasena_usuario">
                    <button style="height: .1em;" class="button-hide" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox style="margin-left: -15px; margin-top: 5px;" class="example-margin" color="warn">Recuérdame</mat-checkbox>
                <br><br>
                <button type="submit" class="btn-block" mat-raised-button color="warn">Ingresar</button>
            </form>
        </div>
        <br><br><br><br><br>
        <hr>
        <div class="text-center">
            <small>Plataforma Nacional de Vehículos Chatarizados</small>
        </div>
    </div>
</div>