.main-login {
    background-color: #F7F7F8 !important;
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
    overflow: hidden;
}


/* .card-user {
    width: 500px;
    height: 700px;
    position: absolute;
    top: 115px;
    bottom: 0;
    right: 50px;
}
 */

.card-user {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.button-hide {
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.form-login {
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    /* box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%) !important; */
    /* background-color: transparent; */
    padding: 0px !important;
    margin-bottom: 0px !important;
}