<h3 mat-dialog-title>Confirmación de Aprobación</h3>
<div mat-dialog-content class="text-center">


    <label>¿Desea aprobar la Fase de Verificación Física de la solicitud N° 54321-2021-00004 de la empresa ABC SRL / Local 001 XXXXXXXXXXXX?</label>

    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px; padding-top: 10px;">
            <button mat-dialog-close style="width: 200px;" mat-stroked-button color="warn">Cancelar</button>
            <div style="width: 15px;"></div>
            <button style="width: 200px;" mat-raised-button color="warn">Aprobar</button>
        </div>
    </div>