<div class="main-content">

    <form autocomplete="off" [formGroup]="form_etapa" (ngSubmit)="guardar_etapa()">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">

                    <!-- Datos de la solicitud -->
                    <div class="card">
                        <fieldset>
                            <legend>
                                Datos de la solicitud
                            </legend>
                            <div class="container-fielset">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Nº Solicitud:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <input formControlName="nro_solicitud" name="nro_solicitud" type="text" matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="staticEmail">Fecha solicitud:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <input formControlName="fecha_solicitud" name="fecha_solicitud" type="date" matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="staticEmail">Tipo&nbsp;chatarreo:</label>
                                            <div style="margin-top: -17px;">
                                                <mat-form-field appearance="outline" class="w100p">
                                                    <mat-select formControlName="pgm_chatarreo" name="pgm_chatarreo">
                                                        <mat-option value="">(Seleccionar)</mat-option>
                                                        <mat-option value="O">Obligatorio</mat-option>
                                                        <mat-option value="V">Voluntario</mat-option>
                                                        <mat-option value="p">PCH</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- <div class="card">
                        <fieldset>
                            <legend>
                                Datos de la solicitud
                            </legend>
                            <div class="container-fielset">
                                <div class="misma-linea">
                                    <div>
                                        <div class="misma-linea">
                                            <label>Nº Solicitud:</label>
                                            <mat-form-field appearance="outline" style="width: 311px;">
                                                <input formControlName="nro_solicitud" name="nro_solicitud" type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label>Fecha Solicitud:</label>
                                            <mat-form-field appearance="outline" style="width: 151px;">
                                                <input formControlName="fecha_solicitud" name="fecha_solicitud" type="date" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="misma-linea">
                                        <label>Pgm. Chatarreo:</label>
                                        <mat-form-field appearance="outline" style="width: 600px;">
                                            <mat-select formControlName="pgm_chatarreo" name="pgm_chatarreo">
                                                <mat-option value="">(Seleccionar)</mat-option>
                                                <mat-option value="O">Obligatorio</mat-option>
                                                <mat-option value="V">Voluntario</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="misma-linea ocultar">
                                    <div>
                                        <div class="misma-linea">
                                            <label>Ent.&nbsp;Promotora:</label>
                                            <mat-form-field appearance="outline" class="imput-medium">
                                                <input type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <mat-form-field appearance="outline" style="width: 201px;">
                                                <input type="text" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->
                    <!-- <br>
                    <div class="alert alert-danger" role="alert">
                        La presente etapa de compactación de las partes del vehículo se realiza de conformidad con lo dispuesto en el Decreto Legislativo N° 1278 y su Reglamento aprobado por Decreto Supremo N° 014-2017-MINAM.
                    </div> -->
                    <br>
                    <!-- Emisión del CDV -->
                    <div class="card">
                        <fieldset>
                            <legend>
                                Informe del CDV
                            </legend>
                            <div class="container-fielset">
                                <div class="misma-linea" style="margin-top: 10px;">
                                    <div>
                                        <div class="misma-linea">
                                            <label class="label-sm">Fecha&nbsp;Informe:</label>
                                            <mat-form-field appearance="outline" style="width: 151px; margin-left: 20px;">
                                                <input formControlName="fecha_inicio" name="fecha_inicio" type="date" matInput [max]="fecha_maxima">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label class="label-sm">Hora&nbsp;Informe:</label>
                                            <mat-form-field appearance="outline" class="input-small" style="margin-left: 20px;">
                                                <input formControlName="hora_inicio" name="hora_inicio" type="time" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <input #select_file_cdv type="file" formControlName="informe" name="informe" (change)="seleccionImagen($event.target.files[0])">

                                <div style="padding-left: 5px; margin-bottom: 5px; margin-top: 25px;" class="ocultar">
                                    <span>Detalle adicional a ser considerado en el informe final:</span>
                                </div>
                                <mat-form-field appearance="outline" class="w100p ocultar">
                                    <textarea formControlName="observacion" name="observacion" matInput rows="8"></textarea>
                                </mat-form-field>

                                <div class="misma-linea ocultar" style="margin-top: 10px;">
                                    <div>
                                        <div class="misma-linea">
                                            <label style="width: auto; margin-right: 10px;">Informe&nbsp;final&nbsp;generado:</label>
                                            <img width="20px" style="margin-top: -7px;" src="assets/img/icons-form/pdf.svg">
                                        </div>
                                    </div>
                                    <div class="ml-50">
                                        <div class="misma-linea">
                                            <label style="width: auto; margin-right: 10px;">Certificado&nbsp;de&nbsp;Destrucción&nbsp;Vehicular&nbsp;generado:</label>
                                            <img width="20px" style="margin-top: -7px;" src="assets/img/icons-form/pdf.svg">
                                        </div>
                                    </div>
                                </div>

                                <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-top: 80px; margin-bottom: 50px;">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" (click)="descargar_cdv()" class="btn-block" mat-raised-button color="primary">Descargar CDV</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <button type="button" (click)="volverEtapa()" class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn-block" mat-raised-button color="warn">Finalizar</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </div>

                </div>
                <div class="col-md-4">
                    <!-- Tablas -->
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-vehiculo" colspan="2" scope="col">
                                        Datos del vehículo
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Placa</th>
                                    <td> {{ proceso_obtenido.VehiculoPlaca }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Chasis</th>
                                    <td> {{ proceso_obtenido.VehiculoNroChasis }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Motor</th>
                                    <td> {{ proceso_obtenido.VehiculoNroMotor }} </td>
                                </tr>
                                <tr>
                                    <th>VIN</th>
                                    <td> {{ proceso_obtenido.VehiculoVIN }} </td>
                                </tr>
                                <tr>
                                    <th>Categoría</th>
                                    <td> {{ proceso_obtenido.VehiculoCategoria }} </td>
                                </tr>
                                <tr>
                                    <th>Marca</th>
                                    <td> {{ proceso_obtenido.VehiculoMarca }} </td>
                                </tr>
                                <tr>
                                    <th>Modelo</th>
                                    <td colspan="3"> {{ proceso_obtenido.VehiculoModelo }} </td>
                                </tr>
                                <tr>
                                    <th>Año</th>
                                    <td> {{ proceso_obtenido.VehiculoAnoFabricacion }} </td>
                                </tr>
                                <tr>
                                    <th>Combustible</th>
                                    <td> {{ proceso_obtenido.VehiculoCombustible }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-propietario" colspan="2" scope="col">
                                        Propietario
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width: 35%;">Tipo de Documento</th>
                                    <td> {{ obtener_tipo_di(proceso_obtenido.PropietarioTipoDI) }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Documento</th>
                                    <td> {{ proceso_obtenido.PropietarioNumeroDI }} </td>
                                </tr>
                                <tr>
                                    <th>Nombres</th>
                                    <td> {{ proceso_obtenido.PropietarioNombre }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card" style="padding: 20px 20px 1px 20px !important;">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center bg-representante" colspan="2" scope="col">
                                        Representante
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width: 35%;">Tipo de Documento</th>
                                    <td> {{ obtener_tipo_di(proceso_obtenido.SolicitanteTipoDI) }} </td>
                                </tr>
                                <tr>
                                    <th>Nº Documento</th>
                                    <td> {{ proceso_obtenido.PropietarioNumeroDI }} </td>
                                </tr>
                                <tr>
                                    <th>Nombres</th>
                                    <td> {{ proceso_obtenido.SolicitanteNombre }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>