<div class="main-content">
    <div class="row">
        <div class="col-md-11">
            <form style="padding-left: 20px; padding-right: 20px;" [formGroup]="form_busqueda" (ngSubmit)="buscar_proceso()">
                <div class="misma-linea" style="margin-bottom: 15px;">
                    <div>
                        <div class="misma-linea">
                            <label style="line-height: 2.7; margin-right: 10px;">Periodo:</label>
                            <mat-form-field appearance="outline" style="width: 80px;" color="warn">
                                <mat-select formControlName="periodo" name="periodo">
                                    <mat-option value='2020'>2020</mat-option>
                                    <mat-option value='2021'>2021</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="margin-left: 20px;">
                        <div class="misma-linea">
                            <label style="line-height: 2.7; margin-right: 10px;">Estado:</label>
                            <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                                <mat-select formControlName="estado" name="estado">
                                    <mat-option value="P">Pendiente</mat-option>
                                    <mat-option value="A">Activado</mat-option>
                                    <mat-option value="O">Observado</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button style="display: none;" class="btn-block" mat-raised-button color="basic">Buscar</button>
                            <button type="submit" style="margin-left: 25px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="warn">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <button *ngIf="id_etapa === 1" (click)="nuevo()" mat-mini-fab color="warn" style="margin-top: -5px;">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card" style="min-height: 750px;">
            <div *ngIf="!(procesos.length > 0)" style="width: 400px; margin: auto; text-align: center; padding-top: 130px;">
                <img width="300px" src="assets/img/icons-form/no-data.svg">
                <h3 style="margin-top: -20px;">No se encontraron resultados</h3>
            </div>
            <div *ngIf="procesos.length > 0" class="content table-responsive" style="width: 90%; margin: auto; margin-bottom: -10px;">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nº Solicitud</th>
                            <th>Nº Placa</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Propietario</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let proceso of procesos">
                            <td> {{ proceso.Correlativo }} </td>
                            <td> {{ proceso.VehiculoPlaca }} </td>
                            <td> {{ proceso.VehiculoMarca }} </td>
                            <td> {{ proceso.VehiculoModelo }} </td>
                            <td> {{ proceso.VehiculoAnoFabricacion }} </td>
                            <td> {{ proceso.PropietarioNombre | titlecase }} </td>
                            <td> CH{{ proceso.Tipo }} </td>
                            <td> {{ retornar_estado(proceso.EstadoEtapaActiva) }} </td>
                            <td>
                                <button (click)="ver(proceso.Token)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <!-- <tr style="color: red;">
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>OBS</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>001-2021</td>
                            <td>F9A-370</td>
                            <td>Toyota</td>
                            <td>Corolla</td>
                            <td>1995</td>
                            <td>Giacomo Guilizzoni</td>
                            <td>CHV</td>
                            <td>PEN</td>
                            <td>
                                <button (click)="ver()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>