<div class="main-content">
    <div style="padding-left: 20px; padding-right: 20px;">
        <form autocomplete="off" [formGroup]="form_busqueda" (ngSubmit)="obtenerPCO()">
            <div class="misma-linea" style="margin-bottom: 15px;">
                <div class="ocultar">
                    <div class="misma-linea">
                        <label style="line-height: 2.7; margin-right: 10px;">Estado:</label>
                        <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                            <mat-select formControlName="estado" name="estado">
                                <mat-option [value]="edo.codigo" *ngFor="let edo of edopco">{{ edo.descripcion }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="(_usuarioService.esaprobador())">
                    <div class="misma-linea">
                        <label style="line-height: 2.7; margin-right: 10px;">Entidad:</label>
                        <mat-form-field appearance="outline" style="width: 250px;" color="warn">
                            <mat-select formControlName="entidad" name="entidad">
                                <mat-option [(value)]="entidad.IdEntidad" *ngFor="let entidad of entidades">{{ entidad.Nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button style="display: none;" class="btn-block" mat-raised-button color="basic">Buscar</button>
                        <button type="submit" style="margin-left: 25px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="warn">Buscar</button>
                        <button type="button" (click)="limpiar()" style="margin-left: 10px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="basic">Limpiar</button>
                    </div>
                </div>
                <div *ngIf="!(_usuarioService.esaprobador())" style="margin-left: 100px;">
                    <div class="misma-linea">
                        <button mat-mini-fab color="warn" style="margin-top: -5px;">
                            <mat-icon (click)="abrirModal_carga()">upload</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div *ngIf="pcos && !(pcos.length > 0)" style="width: 400px; margin: auto; text-align: center; padding-top: 130px;">
                <img width="300px" src="/assets/img/icons-form/no-data.svg">
                <h3 style="margin-top: -20px;">No se encontraron resultados</h3>
            </div>
            <div *ngIf="pcos && pcos.length > 0" class="content table-responsive" style="width: 90%; margin: auto; margin-bottom: -10px;">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Correlativo</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Sustento</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pco of pcos">
                            <td>{{ pco.Correlativo }}</td>
                            <td>{{ pco.FechaInicio | date:'dd/MM/yyyy' }}</td>
                            <td>{{ pco.FechaFin | date:'dd/MM/yyyy' }}</td>
                            <td>{{ pco.Cantidad }}</td>
                            <td>{{ pco.Estado | estadopch }}</td>
                            <td>
                                <div class="misma-linea">
                                    <img width="20px" (click)="descargar_adjunto(pco,'E')" src="assets/img/icons-form/pdf.svg" style="cursor: pointer;" title="Expediente">
                                    <img width="20px" (click)="descargar_adjunto(pco,'S')" src="assets/img/icons-form/pdf.svg" style="cursor: pointer; margin-left:5px;" title="Sustento">
                                </div>
                            </td>
                            <td>
                                <button mat-mini-fab color="warn">
                                    <mat-icon (click)="abrirModal_mantenimiento(pco)">search</mat-icon>
                                </button>
                                <button *ngIf="_usuarioService.esaprobador()" mat-mini-fab color="basic" style="margin-left: 5px;">
                                    <mat-icon (click)="abrirModal_aprobar(pco)">done</mat-icon>
                                </button>
                                <button *ngIf="_usuarioService.esaprobador()" mat-mini-fab color="primary" style="margin-left: 5px;">
                                    <mat-icon (click)="abrirModal_rechazar(pco)">clear</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>