<div class="main-content">
    <div style="padding-left: 20px; padding-right: 20px;">
        <div class="misma-linea" style="margin-bottom: 15px;">
            <div>
                <div class="misma-linea">
                    <label style="line-height: 2.7; margin-right: 10px;">Periodo:</label>
                    <mat-form-field appearance="outline" style="width: 80px;" color="warn">
                        <mat-select>
                            <mat-option value="one">2020</mat-option>
                            <mat-option value="two">2021</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-left: 65px;">
                <div class="misma-linea">
                    <mat-form-field appearance="outline" style="width: 150px;" color="warn">
                        <mat-select value="0">
                            <mat-option value="0">Filtrar por</mat-option>
                            <mat-option value="1">Nº Solicitud</mat-option>
                            <mat-option value="2">Nº Placa</mat-option>
                            <mat-option value="3">Marca</mat-option>
                            <mat-option value="4">Modelo</mat-option>
                            <mat-option value="5">Propietario</mat-option>
                            <mat-option value="6">Tipo de chatarreo</mat-option>
                            <mat-option value="7">Estado</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="margin-left: 15px;">
                        <input type="text" matInput>
                    </mat-form-field>
                    <button style="display: none;" class="btn-block" mat-raised-button color="basic">Buscar</button>
                    <button style="margin-left: 25px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="warn">Buscar</button>
                    <button style="margin-left: 10px; height: 36px; margin-top: -1px;" class="btn-block" mat-raised-button color="basic">Limpiar</button>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="content table-responsive" style="width: 90%; margin: auto; margin-bottom: -10px;">

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Nº PCO</th>
                            <th>Tipo PCO</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Sustento</th>
                            <th>Obs</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>001-2021-pco-atu</td>
                            <td>Retiro/Renovación</td>
                            <td>99/99/9999</td>
                            <td>99/99/9999</td>
                            <td>320</td>
                            <td>Formulario</td>
                            <td>
                                <div class="misma-linea">
                                    <img width="20px" src="assets/img/icons-form/pdf.svg">
                                    <img width="20px" src="assets/img/icons-form/pdf.svg">
                                </div>
                            </td>
                            <td>...</td>
                            <td>
                                <button mat-mini-fab color="warn">
                                    <mat-icon (click)="abrirModal_mantenimiento()">edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="basic" style="margin-left: 5px;">
                                    <mat-icon (click)="abrirModal_carga()">upload</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" style="margin-left: 5px;">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>