<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">{{getTitle()}}</a> -->
            <!-- <a mat-stroked-button color="warn" class="navbar-brand" href="#">
                Nuevo Proceso
            </a> -->
            <!-- <a class="navbar-brand" href="#">Driven Perú S.A.C - Miraflores</a> -->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="javascript:void(0)" class="btnnavbar">
                        Plataforma Nacional de Vehículos Chatarrizados
                    </a>
                </li>
                <!--<li>
                    <a href="javascript:void(0)" class="btnnavbar">
                        Etapas
                    </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="btnnavbar">
                        Mantenimientos
                    </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="btnnavbar">
                        Reportes
                    </a>
                </li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a href="#">
                        Account
                    </a>
                </li> -->

                <!-- <li>
                    <a href="javascript:void(0)" (click)="abrirmodal()" style="padding-right: 30px;">
                        <i style="font-size: 25px; position: absolute;" class="pe-7s-search"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" style="padding-right: 30px;">
                        <i style="font-size: 25px; position: absolute;" class="pe-7s-help1"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" style="padding-right: 100px;">
                        <i style="font-size: 25px; position: absolute;" class="pe-7s-chat"></i>
                    </a>
                </li> -->
                <li>
                    <div style="padding-top: 6px; padding-right: 5px;">
                        <i style="font-size: 45px;" class="pe-7s-user"></i>
                    </div>
                </li>
                <li class="dropdown">
                    <div style="padding-top: 9px; padding-right: 15px;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #fff;">
                         {{ _usuarioService.usuario.NombreCompleto| titlecase }}                      
                        <b class="caret"></b>
                    </a>
                        <div style="font-size: 13px;">Empresa {{ _usuarioService.usuario.Empresa.NombreCentro }} / Local: {{ _usuarioService.usuario.EmpresaLocal.CodigoLocal }} </div>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="#">Editar perfil</a></li>
                            <li><a href="#">Cambiar contraseña</a></li>
                            <li class="divider"></li> -->
                            <li><a (click)="_usuarioService.cerrar_sesion()" href="javascript:void(0)">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </li>
                <!-- <li>
                    <a href="javascript:void(0)">
                        Cerrar Sesión
                    </a>
                </li> -->
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>