<!-- <h3 mat-dialog-title>Mantenimiento PCH</h3> -->
<h3 mat-dialog-title>Mantenimiento programa de chatarreo</h3>
<div mat-dialog-content class="text-center">



    <div>
        <div class="misma-linea">
            <label style="width: 120px; line-height: 2.5; text-align: left;">Número&nbsp;de&nbsp;PCH:</label>
            <h5 style="color: red; margin-top: 9px;">001-PCH-2021/ATU</h5>
        </div>
    </div>
    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Tipo&nbsp;de&nbsp;PCO:</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="1">Retiro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Fecha&nbsp;Inicio:</label>
                <mat-form-field appearance="outline">
                    <input type="date" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="ml-50">
            <div class="misma-linea">
                <label style="width: 100px; line-height: 2.5; text-align: left;">Fecha&nbsp;Fin:</label>
                <mat-form-field appearance="outline">
                    <input type="date" matInput>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="misma-linea">

        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Capac.&nbsp;Vehicular:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="ml-50">
            <div class="misma-linea">
                <label style="width: 100px; line-height: 2.5; text-align: left;">Capac.&nbsp;Real:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
        </div>

    </div>

    <div class="misma-linea" style="margin-top: 25px;">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Expediente:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
                <button mat-icon-button color="basic" style="margin-left: 5px;">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <img style="margin-left: 10px;" width="20px" src="assets/img/icons-form/pdf.svg">
                <button mat-icon-button>
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="misma-linea">
        <div>
            <div class="misma-linea">
                <label style="width: 120px; line-height: 2.5; text-align: left;">Doc.&nbsp;Sustento:</label>
                <mat-form-field appearance="outline">
                    <input type="text" matInput>
                </mat-form-field>
                <button mat-icon-button color="basic" style="margin-left: 5px;">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <img style="margin-left: 10px;" width="20px" src="assets/img/icons-form/pdf.svg">
                <button mat-icon-button>
                    <mat-icon>remove_circle_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px; padding-top: 20px;">
            <button style="width: 200px; margin-right: 10px;" mat-stroked-button color="warn">Cancelar</button>
            <button style="width: 200px;" mat-raised-button color="warn">Guardar</button>
        </div>
    </div>








</div>