<div class="main-content">
    <div class="row" style="margin-top: -5px; margin-bottom: 0px;">
        <div class="col-md-8">
            <form class="misma-linea" autocomplete="off" [formGroup]="form_busqueda" (ngSubmit)="Buscar_placa()">
                <label style="line-height: 2.8; padding-left: 20px; font-size: 15px; margin-right: 20px;">Nº&nbsp;Placa:</label>
                <mat-form-field appearance="outline" class="input-small">
                    <input formControlName="nro_placa" name="nro_placa" type="text" matInput>
                </mat-form-field>
                <button *ngIf="!proceso_obtenido" type="submit" mat-mini-fab color="basic" style="margin-left: 10px; margin-top: -3px;">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
        <div class="col-md-4">
            <div *ngIf="proceso_obtenido" class="misma-linea" style="margin-top: -20px;">
                <label style="line-height: 5; padding-left: 20px; font-size: 15px; margin-right: 10px;">Nº&nbsp;Solicitud:</label>
                <h3 style="color: #D44650; font-weight: 600;"> {{ proceso_obtenido.Correlativo }} </h3>
            </div>
        </div>
    </div>
    <form class="container-fluid" autocomplete="off" [formGroup]="form_principal" (ngSubmit)="guardar_proceso()">
        <div class="row">
            <div class="col-md-8">
                <!-- Datos del Propietario -->
                <div class="card">
                    <fieldset>
                        <legend>
                            Datos del propietario
                            <mat-slide-toggle *ngIf="vehiculo" (change)="mismo_representante($event.checked)" color="warn" style="margin-left: 20px;">¿representante?</mat-slide-toggle>
                        </legend>
                        <div class="container-fielset">
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Tipo&nbsp;Documento:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input id="tipo_documento_prop" formControlName="tipo_documento_prop" name="tipo_documento_prop" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label>Nº&nbsp;Documento:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="nro_documento_prop" name="nro_documento_prop" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="misma-linea">
                                <label>Propietario:</label>
                                <mat-form-field appearance="outline" class="imput-medium">
                                    <input formControlName="nombre_prop" name="nombre_prop" type="text" matInput>
                                </mat-form-field>
                            </div>


                        </div>
                    </fieldset>
                </div>
                <!-- Datos del Vehículo -->
                <div class="card">
                    <fieldset>
                        <legend>
                            Datos del vehículo
                        </legend>
                        <div class="container-fielset">
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Nº&nbsp;Chasis:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="nro_chasis_veh" name="nro_chasis_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label>Nº&nbsp;Motor:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="nro_motor_veh" name="nro_motor_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label class="label-sm">VIN:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="vin_veh" name="vin_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Modelo:</label>
                                        <mat-form-field appearance="outline" class="imput-medium">
                                            <input formControlName="modelo_veh" name="modelo_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label class="label-sm">Marca:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="marca_veh" name="marca_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Año&nbsp;fabricación:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="anio_veh" name="anio_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label>Combustible:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="combustible_veh" name="combustible_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label class="label-sm">Categoría:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="categoria_veh" name="categoria_veh" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </fieldset>
                </div>

                <!-- Datos del Representante -->
                <div class="card">
                    <fieldset>
                        <legend>
                            Datos del representante
                        </legend>
                        <div class="container-fielset">
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Tipo&nbsp;Documento:</label>
                                        <mat-form-field appearance="outline" style="width: 340px;">
                                            <mat-select formControlName="tipo_documento_repre" name="tipo_documento_repre" type="text">
                                                <mat-option value="00">(Seleccionar)</mat-option>
                                                <mat-option value="01">DNI</mat-option>
                                                <mat-option value="06">Carnet Extranjería</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label>Nº&nbsp;Documento:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="nro_documento_repre" name="nro_documento_repre" type="number" [maxlength]="long_nro_documento" matInput oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                        </mat-form-field>
                                        <button type="button" mat-mini-fab color="basic" style="margin-left: 10px; margin-top: -3px; display: none;">
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Representante:</label>
                                        <mat-form-field appearance="outline" style="width: 340px;">
                                            <input formControlName="nombre_repre" name="nombre_repre" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label style="width: 55px;">Correo:</label>
                                        <mat-form-field appearance="outline" style="width: 185px;">
                                            <input formControlName="correo_repre" name="correo_repre" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <label style="width: 55px;">Celular:</label>
                                        <mat-form-field appearance="outline" class="input-small">
                                            <input formControlName="celular_repre" min="900000000" name="celular_repre" type="number" maxlength="9" matInput oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Datos de la solicitud -->
                <div class="card">
                    <fieldset>
                        <legend>
                            Datos de la solicitud
                        </legend>
                        <div class="container-fielset">
                            <div class="misma-linea">
                                <div>
                                    <div class="misma-linea">
                                        <label>Fecha Solicitud:</label>
                                        <mat-form-field appearance="outline" style="width: 151px;">
                                            <input formControlName="fecha_solicitud" name="fecha_solicitud" type="date" [max]="fecha_maxima" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <!-- <div class="misma-linea">
                                        <label>Pgm. Chatarreo:</label>
                                        <mat-form-field appearance="outline" style="width: 311px;">
                                            <input formControlName="pgm_chatarreo" name="pgm_chatarreo" type="text" matInput>
                                        </mat-form-field>
                                        <button mat-mini-fab color="basic" style="margin-left: 10px; margin-top: -3px;">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div> -->
                                    <div class="misma-linea">
                                        <label>Pgm. Chatarreo:</label>
                                        <mat-form-field appearance="outline" style="width: 311px;">
                                            <mat-select formControlName="pgm_chatarreo" name="pgm_chatarreo">
                                                <mat-option value="">(Seleccionar)</mat-option>
                                                <mat-option value="O">Obligatorio</mat-option>
                                                <mat-option value="V">Voluntario</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-mini-fab color="basic" style="margin-left: 10px; margin-top: -3px; display: none;">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="misma-linea ocultar">
                                <div>
                                    <div class="misma-linea">
                                        <label>Ent.&nbsp;Promotora:</label>
                                        <mat-form-field appearance="outline" class="imput-medium">
                                            <input formControlName="ent_promotora" name="ent_promotora" type="text" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="ml-50">
                                    <div class="misma-linea">
                                        <mat-form-field appearance="outline" style="width: 201px;">
                                            <input formControlName="distrito_solicitud" name="distrito_solicitud" type="text" matInput>
                                        </mat-form-field>
                                        <button mat-mini-fab color="basic" style="margin-left: 10px; margin-top: -1px;">
                                            <mat-icon>dialpad</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </fieldset>
                </div>

            </div>
            <div class="col-md-4">

                <div class="card">
                    <fieldset>
                        <legend>
                            Documentación requerida <small class="text-danger">(*)</small>
                        </legend>
                        <div class="container-fielset">
                            <div style="height: 270px; overflow: auto;">
                                <!-- <h5 style="margin-top: -2px;" class="text-danger">Obligatorio (*)</h5> -->
                                <div *ngIf="archivos_etapa">
                                    <div *ngFor="let archivo of archivos_etapa; let i = index" class="misma-linea">
                                        <div *ngIf="archivo.Subtipo === 'A'">
                                            <button *ngIf="archivo.archivo_adjunto" type="button" mat-icon-button style="margin-top: -7px; position: absolute;">
                                                <mat-icon (click)="quitar_archivo(i)" style="font-size: 23px;" color="warn">highlight_off</mat-icon>
                                            </button>
                                            <button *ngIf="!archivo.archivo_adjunto" type="button" mat-icon-button style="margin-top: -7px; position: absolute;">
                                                <mat-icon (click)="adjuntar_archivo(archivo)" style="font-size: 23px;" color="warn">add_circle</mat-icon>
                                            </button>


                                            <mat-checkbox style="margin-left: 35px;" color="warn" [checked]="archivo.archivo_adjunto">
                                                <span *ngIf="archivo.Obligatorio === 'S'" class="text-danger">(*)</span> {{ (archivo.Descripcion.length>50)? (archivo.Descripcion | slice:0:50)+'..':(archivo.Descripcion) }}
                                            </mat-checkbox>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </fieldset>
                </div>

                <div class="card">
                    <mat-tab-group color="warn">
                        <mat-tab label="Obervaciones">
                            <div style="height: 271px; padding-left: 20px; padding-top: 10px; padding-right: 20px;">
                                <mat-radio-group color="warn" (change)="obtener_estado_observacion($event.value)" [value]="tipo_observacion">
                                    <mat-radio-button value="D">Desactivado</mat-radio-button>
                                    <mat-radio-button value="O">Observado</mat-radio-button>
                                    <mat-radio-button value="S">Subsanado</mat-radio-button>
                                </mat-radio-group>
                                <mat-form-field appearance="outline" class="w100p">
                                    <textarea id="obs_desc" matInput rows="12" [disabled]='deshabilitar_obs' formControlName="descripcion_obs" name="descripcion_obs" [value]="descripcion_obs"></textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                        <mat-tab label="Galería de imágenes">
                            <div class="gallerize-example">
                                <div class="misma-linea" style="margin-bottom: 8px;" *ngIf="mostrar_boton_add_img">
                                    <h4>Agregar imagen</h4>
                                    <button type="button" mat-icon-button style="margin-left: 10px; margin-top: 25px;">
                                        <mat-icon (click)="adjuntar_imagen()" style="font-size: 23px;" color="warn">add_circle</mat-icon>
                                    </button>
                                </div>
                                <br *ngIf="!mostrar_boton_add_img" />
                                <div style="height: 97px; overflow: auto;display: flex; flex-wrap: wrap;">
                                    <span style="width: 100px;margin-left: 5px;position: relative;" *ngFor="let item of items; index as i">
                                        <img style="width: 100%;height: 90px;object-fit: cover;" [lightbox]="i" [gallery]="'anotherLightbox'" [src]="item.data.thumb">
                                        <a href="javascript:void(0)" style="position: absolute; top:0; right: 0;"><img style="width: 20px;" (click)="quitarImagen(i)" src="assets/img/icons-form/delete.svg"></a>
                                    </span>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div style="width: 100%; text-align: right; padding-right: 20px; padding-left: 20px; margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-6" style="margin-right: -20px;">
                            <button type="button" (click)="volverEtapa()" class="btn-block" mat-stroked-button color="warn">Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn-block" mat-raised-button color="warn">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>