<!-- <h3 mat-dialog-title>Motivo de Observación</h3> -->
<h3 mat-dialog-title>Motivo de Rechazo</h3>
<div mat-dialog-content>
    <div style="margin-top: 20px;" class="row">
        <div *ngFor="let o of obs">
            <div class="col-md-12">
                <mat-checkbox color="warn" class="example-margin" [(ngModel)]="o.elegido">{{ o.name }}</mat-checkbox>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="misma-linea" style="padding-right: 15px;">
            <button mat-dialog-close style="width: 200px;" mat-stroked-button color="warn">Cancelar</button>
            <div style="width: 15px;"></div>
            <button mat-dialog-close style="width: 200px;" mat-raised-button color="warn" (click)="observar()">Aceptar</button>
        </div>
    </div>

</div>